{% load static %}
<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="{% url 'Blog_App:home' %}">
          <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
          <h1>FOODIES</h1>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div
          class="collapse navbar-collapse offset"
          id="navbarSupportedContent"
        >
          <ul class="nav navbar-nav menu_nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Blog_App:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Blog_App:blog_list' %}">All Blogs</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="category.html">My Blogs</a>
            </li> -->
            <!-- <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Pages</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="blog-details.html">Blog Details</a>
                </li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Blog_App:contact' %}">Contact</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item submenu dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><h3 class="button">{{ user.username }}</h3></a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'Login_App:profile' %}"
                      >My Profile</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="{% url 'Blog_App:create_blog' %}"
                      >Write Blogs</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Blog_App:my_blogs' %}"
                      >My Blogs</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'Login_App:logout' %}"
                      >Log Out</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          {% else %}
          <a class="btn btn-primary mr-3" href="{% url 'Login_App:signin' %}">Login</a>
          <a class="btn btn-success" href="{% url 'Login_App:signup' %}">Signup</a>
          {% endif %}   
          <!-- <ul class="nav navbar-nav navbar-right navbar-social">            
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
              <li><a href="#"><i class="ti-skype"></i></a></li>
            </ul> -->
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->
